{% extends "base.html" %}
{% block title %}MongoBot Rule World Soon{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        p#mongo {
            text-align: center;
            height: 100%;
        }
        p#mongo img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -150px;
            margin-left: -150px;
        }
        a img {
            border: none;
        }
    </style>
{% endblock %}
{% block content %}
<p id="mongo">
    <a href="https://github.com/huntwelch/MongoBot"><img src="{{ url_for('static', filename='img/mongobot.png') }}" alt="MongoBot live..." /></a>
</p>
{% endblock %}
