{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        #kill {
            color: white;
            background: black;
            font-size: 60px;
            height: 160px;
            width: 500px;
            border-radius: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -80px;
            margin-left: -250px;
            border: none;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    {{ r }}
    <form method="post" action="/killbot">
        <input type="submit" id="kill" value="Kill {{ nick }}" name="doit" />
    </form>
{% endblock %}
